body {
	margin-top: 40px;
    background-image: url("../images/backdrop.png");
    background-color: #cccccc;
}

.winrar {
	background-image: url("../images/winrar.gif");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    margin-top: 4.5em;
    font-size:5em;
    color: white;
}

#board-container {
	margin-top: -30px !important;
}

.go-space {
	background-image: url("../images/go.png");
	background-size: 82px 82px;
}

.chest-space {
	background-image: url("../images/exclamationMarkBlock.png");
	background-size: 82px 82px;
}

.chance-space {
	background-image: url("../images/questionMarkBlock.png");
	background-size: 82px 82px;
}

.jail-space {
	background-image: url("../images/jail.jpg");
	background-size: 82px 82px;
}

.up-space {
	background-image: url("../images/1up.png");
	background-size: 82px 82px;
}

.go-to-jail-space {
	background-image: url("../images/goToJail.png");
	background-size: 82px 82px;
}

#coin {
	/*position: relative;
    bottom: -180px;
    right: 300px;*/
    width: 25px;
    height: 25px;
}

#baby {
	/*position: absolute;
    bottom: -180px;
    right: 370px;*/
    width: 25px;
    height: 25px;
}

#dragonCoin {
	/*position: absolute;
    bottom: -180px;
    right: 330px;*/
    width: 25px;
    height: 30px;
}

.board-spaces > div {
	border: 1px solid black;
	background-color: #C6E2FF;
	height:82px;
	width:82px;
}

.board-spaces > div:first-of-type
{
	background-color: transparent;
	border: none;
}

.board-spaces > div > img {
	width:25px;
	height:25px;
}


#test
{
	position: fixed;
    top: 2em;
    left: 4em;
    width:4em;
    
}

.player-info{
	position:fixed;
}

.board-center {
	border: none !important;
	background-color: transparent !important;
}

.board-left
{
	background-color:blue;
	width:40%;
	height:40px;
}

.board-right
{
	background-color:blue;
	width:40%;
	height:40px;
}

.board-top
{
	background-color:green;
	width:60px;
	height:1em;
}

.board-bottom
{
	background-color:green;
	width:60px;
	height:1em;
}
